
:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --secondary-color: #8e2807;
    --one-use-color: #8e2807;
    --two-use-color: #8e2807;
  
  
    --coral: #eb9478;
    --maroon: #8e2807;
    --title: #493b76;
  
}


.details-2
{

    border-radius: 10px 0 0 0;
}


.details-container p
{

    color: var(--title);
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 400;
    line-height: 24px;
}

.details-container .details-items legend
{

    font-weight: 600;
    font-size: 14px;
}


.details-3
{
    border-radius: 0 10px 0 0;
 
}



.details-3 .details-items .email
{
    text-transform: none;
}





.details-4
{
    margin: 5px 0 0 0;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-top: none;
    /* border-left: 5px solid var(--maroon);
    border-right: 5px solid var(--maroon); */
    border-radius: 0 0 10px 10px;
}


.details-4 .details-items
{
    display: flex;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
}


.details-4 .details-items:nth-child(2)
{
    background: none;
}


.details-5
{
    margin: 20px 0 0 0;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-top: none;
    /* border-left: 5px solid var(--maroon);
    border-right: 5px solid var(--maroon);
    border-bottom: 2px solid var(--maroon);
    border-top: 2px solid var(--maroon); */
    border-radius: 10px;
}



.details-5 .details-items
{
    display: flex;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
}


.details-6
{
    margin: 20px 0 0 0;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
}



.details-6 .details-items
{
    display: flex;
    border-radius: 10px;
    margin: 10px 0 10px 0;
    padding: 10px 20px;
}