
:root {
    --background-color1: #fafaff;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #cad7fda4;
    --secondary-color: #8e2807;
    --one-use-color: #8e2807;
    --two-use-color: #8e2807;
  
  
    --coral: #eb9478;
    --maroon: #8e2807;
    --title: #493b76;
  
  }


.details-container
{
    width: 100%;
    margin: 40px 0 0 0;
}

.details-body
{
    display: flex;
}


.details-body .chart
{
    display: flex;
    width: 100%;
}

.details
{
    width: 60%;
    margin: 10px 0 0 0;
    padding: 10px 20px 10px 5px;
    background: var(--background-color1);
    border-radius: 5px 10px 10px 5px;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    /* border-top: 2px solid var(--maroon);
    border-right: 2px solid var(--maroon);
    border-bottom: 2px solid var(--maroon);
    border-left: 5px solid var(--maroon); */
}


.details-items
{
    display: flex;
    width: 100%;
    flex-direction: column;
    background: var(--background-color3);
    border-radius: 5px 10px 10px 5px;
    margin: 5px 0 5px 0;
    padding: 10px 50px 10px 0;
}


.details-items legend
{
    width: fit-content;
    padding: 5px 30px 5px 5px;
    font-size: 15px;
    margin: 10px 0 10px 0;
    letter-spacing: 1px;
    color: var(--maroon);
    border-bottom: 2px solid var(--maroon);
}


.details-items h3
{
    text-transform: uppercase;
    width: fit-content;
    font-size: 16px;
    padding: 10px 5px 10px 15px;
    letter-spacing: 2px;
    color: var(--title);
}

.details-container .btns
{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
    margin: 20px 0 0 0;
}

.chart #myChart1
{
    margin: 0 0 50px 0;
}

.chart .btns a
{
    width: fit-content;
    padding: 5px 20px;
}

.delete
{
    font-size: 12px;
    letter-spacing: 5px;
    color: var(--background-color1);
    border: 2px solid var(--coral);
}