
@import url('https://fonts.googleapis.com/css?family=Arimo');

*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/aaa.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover
}



header{
	/* background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../aa.jpg); */
	height: 100vh;
	background-size: cover;
	background-position: center;
	min-height: 100px;
	
}

ul{
	float:inline-start;
	list-style-type: none;
	margin-top: 30px;
	margin-right:60px ;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.5s ease;

}

ul li a:hover{
	background-color: #fff;
	color: #000;
	border-radius: 3px;
}

ul li.active a{
background-color:#fff;
	color: #000;

}

.logo img{
	float: left;
	width: 150px;
	height: auto;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #75c2ab;
	/* color: #fff; */
	font-size: 85px;
	letter-spacing: 5px;
	word-spacing: 2px;
	padding: 10px 35px;
	border-radius: 10px;
	background: rgba(46, 17, 1, 0.534);
	/* box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.466); */
}


.note{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: 50px;
	transform: translate(-50%,-50%);
	padding: 10px 35px;
	border-radius: 10px;
	background: rgba(46, 17, 1, 0.226);
	/* box-shadow: 9px 13px 25px 0px rgba(0, 0, 0, 0.466); */
}

.note p{
	color: #fff;
	letter-spacing: 5px;
	word-spacing: 2px;
	font-size: 16px;
	line-height: 35px;
}

.btn{
	border: 1px solid #fff;
	padding: 5px 20px;
	color: #fff;
	transition: 0.6s ease;
	font-size: 18px;
	text-decoration: none;
}

.btn:hover{
	background-color: #fff;
	color: #000;
}

.sub-menu{
	display: none;
    top:6%;
    position: relative;
}

.sub-menu ul{
	position: absolute;
}

.main ul li:hover .sub-menu
{
	display: block;
	position: absolute;
	background-color: rgb(0,45,117);
	margin-top: 12px;
	margin-left: -8px;
}

.main ul li
{
	border-bottom: 1px solid #fff;
	margin: 0 5px;
	/* padding: 2px 10px; */
}

.main ul li:hover .sub-menu ul 
{
	display: block;
	margin:6px;
	/* border: 1px solid #fff; */
}

.main ul li:hover .sub-menu ul li
{
	width: 75px;
	padding: 5px;
	border-bottom: 1px#fff;
	background: transparent;
	transition: 0.4s ease;
	text-align: left;
	border-radius: 0;
	
}

.main ul li:hover .sub-menu ul li:last-child 
{
	border-bottom: none;
}

