{% extends "crm/website/base.html" %}
{% load static %}

{% block title %}About{% endblock title %}
{% block index %}<link rel="stylesheet" href="{% static "css/index.css" %}">{% endblock index %}
{% block book %}<link rel="stylesheet" type="text/css" href="{% static "css/book.css" %}">{% endblock book %}


{% block content_2 %}

<div class="wrapper wrapper-2">
    <div class="container">

        <h1>
            <i class="fas fa-shipping-fast"></i>
            About
        </h1>
         
        <br> <br> <br> <br>

        <div class="name">
            <div>
                <label for="about">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, temporibus ipsum ducimus excepturi unde cupiditate a soluta ipsam nemo. Necessitatibus eos, omnis odit ipsum porro placeat, illo aliquid reprehenderit suscipit rem, dolorum non maxime facere a nostrum et delectus praesentium accusamus perferendis quisquam esse. Molestias, nisi? Qui fugiat at perspiciatis.</label>

            </div>
            <div>
                <label for="about">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, quaerat?</label>

            </div>
        </div>

        
    </div>
</div>

{% endblock content_2 %}