{% extends "crm/website/base.html" %}
{% load static %}

{% block title %}Salon{% endblock title %}
{% block index %}<link rel="stylesheet" href="{% static "css/index.css" %}">{% endblock index %}


{% block content %}

    <div class="title">
        <h1>Hair Dressing</h1>
    </div>
    <div class="note">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, in. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit ullam veritatis, nisi quam officiis tempore sequi. Laborum assumenda quas nisi?
    </p>
    </div>

{% endblock content %}