{% extends "crm/base.html" %}
{% block title %}{% endblock title %}

{% block content %}

<div class="main">


    <div class="report-card">

        <div class="wrapper">

 
            <div class="container">
                <form action="" method="POST">
                    {% csrf_token %}
                    <h1>
                        <i class="fas fa-shipping-fast"></i>
                        Book Appointment
                    </h1>
                    
                    <div class="full_name">
                        <label for="full_name">Full Name</label>
                        {{form.full_name}}
                    </div>
                    <div class="contact">
                        <div>
                            <label for="email">Email</label>
                            {{form.email}}
                        </div>
                        <div>
                            <label for="phone">Phone</label>
                            {{form.phone}}
                        </div>
                    </div>

                    <div class="address-info">
                        <div>
                            <label for="treatment">Treatment</label>
                            {{form.treatment_name}}
                        </div>
                       
                        <div>
                            <label for="schedule">Time</label>
                            {{form.schedule}}
                        </div>
                        <div>
                            <label for="day">Day</label>
                            {{form.day}}
                        </div>
                    </div>
                    <div class="cc-num">
                        <label for="address">Address</label>
                        {{form.address}}
                    </div>
                    <div class="cc-num">
                        <label for="message">Message</label>
                        {{form.message}}
                    </div>
                  
                    <div class="btns">
                        <button type="submit" >Book</button>
                        <a class="links" href="{% url "booked-appointments" %}">Return</a>
                        
                        
                    </div>
                </form>
            </div>

            
            
        </div>
        {% include "crm/cards.html" %}
        
    </div>

</div>

<script src="scripts.js"></script>


{% endblock content %}