{% extends "crm/base.html" %}
{% load static %}

{% block customers %}<link rel="stylesheet" href="{% static "css/customers.css" %}">{% endblock customers %}
{% block customers_record %}<link rel="stylesheet" href="{% static "css/customers-details.css" %}">{% endblock customers_record %}
{% block appointment_details %}<link rel="stylesheet" href="{% static "css/appointment-details.css" %}">{% endblock appointment_details %}


{% block content %}

<div class="main">


    <div class="report-card">

        
 
        <div class="details-container">

            <div class="report-header">
                <h1 class="recent-Articles">Scheduled Appointment Details</h1>
                <a class="links" href="{% url "schedule-appointment" %}">New Schedule</a>
            </div>

            <div class="details-body details-body-2">
                
                <div class="details details-2">
                    
                    <div class="details-items">
                        <legend>Name</legend>
                        <h3 class="t-op-nextlvl name">{{scheduled_appointments.customer.full_name}}</h3>
                    </div>
                    
                    
                    <div class="details-items">
                        <legend>Day</legend>
                        <h3 class="t-op-nextlvl phone">{{scheduled_appointments.day}}</h3>
                    </div>
                    <div class="details-items">
                        <legend>Treatement</legend>
                        <h3 class="t-op-nextlvl phone">{{scheduled_appointments.treatment_name}}</h3>
                    </div>
                    
                    <div class="details-items">
                        <legend>Date/Time Created</legend>
                        <h3 class="t-op-nextlvl phone">{{scheduled_appointments.creation_date}}</h3>
                    </div>
                    
                </div>

                <div class="details details-3">
                    
                    <div class="details-items">
                        <legend>Phone</legend>
                        <h3 class="t-op-nextlvl email">{{scheduled_appointments.customer.phone}}</h3>
                    </div>
                    
                    <div class="details-items">
                        <legend>Email</legend>
                        <h3 class="t-op-nextlvl email">{{scheduled_appointments.customer.email}}</h3>
                    </div>

                    <div class="details-items">
                        <legend>Treatement Details</legend>
                        <h3 class="t-op-nextlvl phone">{{scheduled_appointments.treatment_name.extra_note}}</h3>
                    </div>

                    <div class="details-items">
                        <legend>Appointment Time</legend>
                        <h3 class="t-op-nextlvl phone">{{scheduled_appointments.schedule}}</h3>
                    </div>


                </div>
                
            </div>


            <div class="details details-4">
                    
                <div class="details-items">
                    <legend>Message</legend>
                    <h3 class="t-op-nextlvl phone">{{scheduled_appointments.appointment_note}}</h3>
                </div>
                <div class="details-items">
                    
                    <div class="btns">
                        <a class="links delete" href="{% url 'delete-customers-schedule' scheduled_appointments.id %}">Delete</a>
                    </div>
                </div>

            </div>

        </div>

        {% include "crm/cards.html" %}
        
    </div>

</div>

<script src="scripts.js"></script>


{% endblock content %}